#btnRecherche {

background-color: black;
border: none;
position: relative;

}

.enteteTxt {

background-color: darkslategray;
color: white;
text-align: right;
padding-right: 4rem;
height: 3em;

}




